# Byte-compiled / cache files
src/jsonify/__pycache__/
src/jsonify/converter/__pycache__/
tests/__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.env/
.envrc
.venv/

# Editor/IDE files
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Test output
htmlcov/
.coverage
.tox/
.pytest_cache/

# Distribution / packaging
build/
dist/
src/*.egg-info/
.eggs/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/